.mi-container{
    background: linear-gradient(to right, rgb(0 0 0/ .5),rgb(0 0 0/ .5)),url(../Img/hawaii.jpg);
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: end;
    padding-left: 50%;
    padding-right: 10%;
}

.mi-container h1{
    color: white;
    margin-top: 75%;
}

.mi-container p {
    color: white;
    font-style: inherit;
    font-size: 16px;
    text-align: right;
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content: end;
}

.btn-light{
    color: white;
    background-color: transparent;
}

.btn-warning{
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.btn-info{
    color: white;
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.btn-danger{
    color: white;
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.btn-secondary{
    color: white;
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.títulos{
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.títulos h5{
    font-size: 12px;
    color:#566573 ;
}

.card-title{
    margin-top: 5px;
    margin-bottom: 15px;
}

.playa{
    width: 100%;
    height: 100%;
}

.card-text{
    text-align: justify;
}

.row{
    align-content: center;
}

p .btn-secondary{
    background-color: transparent;
    font-weight: lighter;
    font-family: Arial;
}

span{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombre {
    width: 50%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-right: 10px;
}

.apellido{
    width: 50%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.area-texto{
    margin-bottom: 5px;
}

h6{
    font-size: 14px;
    color:#566573 ;
    text-align: left;
    padding-left: 0%;
}

.enviar{
    background-color: #82be1d ;
    border: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    padding-left: 0%;
}


footer{
    background-color: #1f4e5a;
    font-size: 14px;
}

footer ul{
    height: 100%;
    list-style-type: none;
    margin: 0.5px;
    padding:  10px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

footer li{
    float: left;
}

footer li a{
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: white;
}

footer li a:hover{
    color: white;
}














