.mi-container{
    background: linear-gradient(to right, rgb(0 0 0/ .5),rgb(0 0 0/ .5)),url(../Img/hawaii.jpg);
    width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: end;
    padding-left: 50%;
    padding-right: 10%;
}

.mi-container h1{
    color: white;
    margin-top: 75%;
}

.mi-container p {
    color: white;
    font-style: inherit;
    font-size: 16px;
    text-align: right;
}

.btn-warning{
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.btn-info{
    color: white;
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.btn-danger{
    color: white;
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.btn-secondary{
    color: white;
    font-weight: bold;
    padding-top:0%;
    padding-bottom: 0%;
}

.títulos{
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.card-title{
    margin-top: 5px;
    margin-bottom: 15px;
}
.card-text{
    text-align: justify;
}

.row{
    align-content: center;
}

